<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Calculadora de Juros Compostos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle
        ><ion-icon name="bulb-outline"></ion-icon> Juros
        Compostos</ion-card-subtitle
      >
      <ion-card-title>Fórmula</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>M = C x (1+i)<sup>t</sup></p>
      M = Montante final após a aplicação dos juros;<br />
      C = Capital (principal);<br />
      i = Taxa de juros aplicada em %;<br />
      t = Tempo total (prazo).
      <br />
      <a href="https://matematicabasica.net/juros-compostos/">Saiba mais</a>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-icon name="calculator-outline"> </ion-icon> Calculadora</ion-label
      >
    </ion-list-header>

    <ion-item>
      <ion-label position="floating" color="primary">Principal</ion-label>
      <ion-input [(ngModel)]="principal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Taxa %</ion-label>
      <ion-input [(ngModel)]="taxa"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Pazo</ion-label>
      <ion-input [(ngModel)]="prazo"></ion-input>
    </ion-item>
    <ion-button (click)="calcular()">Calcular</ion-button>
    <ion-item>
      <ion-label color="tertiary">Resultado = {{resultado}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>IFRN-PAR :: TSI6</ion-title>
  </ion-toolbar>
</ion-footer>
